.green{
    background: green;
    color: white;
}

.red{
    background: red;
    color: white;
}
.aqua{
    background: aqua;
    color: white;
}

.boton{
    margin-left: auto;
    margin-right: auto;
    background: white;
}