.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding-left: 25px;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 25px;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  height: 30px;
  padding-left: 15px !important;
}

.ng-select.ng-select-single .ng-select-container {
  padding: 21px 0px;
  border-radius: 8px;
  border: 1px solid #787878;
  width: 100%;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: var(--blue) transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  color: black;
  font-weight: 600;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: auto;
}
