.temp-login{
  display: grid;
  height: 100%;
  background-color: var(--blue);
  place-content: center;


  label{
    font-size: 20px;
    color: var(--blue);
  }

  .card{
    padding: 30px;
    .form{
      display: grid;
      min-width: 300px;
    }
  }
}
