.temp-login{
  display: grid;
  height: 100%;
  background-color: var(--blue);
   background: url('../../../../assets/image/fondologin.jpeg');
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;


  label{
    font-size: 20px;
    color: var(--blue);
  }

  .card{
    padding: 30px;
    .form{
      display: grid;
      min-width: 300px;
    }
  }
  .cajaTitulo{
    text-align: center;
    margin-bottom: 50px;

    h2{
      color: white;
      font-size: 30px;
      font-weight: 600;
    }
  }

}

