<div class="temp-login">
  <div class="cajaTitulo">
    <h2>Operadora</h2>
    <h2>M3 Aqua, C.A</h2>
  </div>

  <div class="card">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="logIn()">

      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" class="input-block" id="usuario" formControlName="user">
      </div>

      <div class="form-group">
        <label for="pin">PIN</label>
        <input type="password" class="input-block" id="pin" formControlName="password">
      </div>

      <button type="submit" class="btn-primary justify-self-center">Iniciar sesión</button>
    </form>
  </div>
</div>

