.temp-dashboard{
  height: 100%;
  display: grid;
  // background: url('../../../assets/image/back-map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1500px;
  margin: auto;
  grid-template: max-content auto max-content/100%;


  .menu-top{
    display: grid;
    padding: 20px;
    height: max-content;
    background-color: var(--blue);

    .content-select-route{
    justify-content: center;

      margin-top: 20px;
      display: grid;
      label{
        color: white !important;
        font-weight: 500;
      }

      .select-route{
        width: 100%;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .see-all{
        color: var(--blue);
        font-weight: 400;
        font-size: 15px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }

    .content-return{
      display: flex;
      width: 100%;
      justify-content: space-around;
      .btn-back{
        padding: 5px;
        display: grid;
        place-content: center;
        mat-icon{
          width: 30px;
          height: 30px;
          font-size: 30px;
          color: var(--blue);
        }
      }
    }

    border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    -ms-border-radius:0px 0px 10px 10px;
    -o-border-radius:0px 0px 10px 10px;
  }

  .content-middle{
    background-color: white;
  
  }
  .menu-middle{
    margin: 0px auto;
    gap: 30px;
    padding: 20px 40px;
    max-width: 400px;
    display: grid;
    align-content: start;
    button{
      min-width: 250px;
    }

    &-list{
      @extend .menu-middle;
      padding: 20px 0px !important;

      .checkbox-group{
        padding: 20px;
      }
    }

    .route-active{
      border:2px solid var(--blue);
    }

    .list-route{
      display: grid;
      gap: 20px;
    }

    .list-route-check{
      div:nth-child(even) {
        background-color: #ffffff; /* Fondo blanco para elementos pares */
      }

      div:nth-child(odd) {
        background-color: #f9f9f9; /* Fondo de color #F9F9F9 para elementos impares */
      }
    }
  }


  .menu-bottom{

    .content-charge{
      min-width: 300px;
      display: grid;
      margin-top: 25px;
      label{
        font-size: 18px;
        color: var(--blue);
      }

      .form-group{
        gap: 10px;
      }
    }
    display: grid;
    justify-content: center;
    padding: 20px;
    height: max-content;
    background-color: white;
    border-radius:10px 10px 0px 0px ;
    -webkit-border-radius:10px 10px 0px 0px ;
    -moz-border-radius:10px 10px 0px 0px ;
    -ms-border-radius:10px 10px 0px 0px ;
    -o-border-radius:10px 10px 0px 0px ;


    filter: drop-shadow(0px 0px 3px rgba(102, 102, 102, 0.2));
    -webkit-filter: drop-shadow(0px 0px 3px rgba(102, 102, 102, 0.2));
  }


  ::ng-deep .mat-mdc-tab-header{
    border: 1px solid #cecece;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  ::ng-deep .mdc-tab-indicator__content--underline{
    border-width: 4px;
  }

  ::ng-deep .mat-mdc-tab-body-content{
    min-height: 150px !important;
  }
}
#map {
  height: 300px;
}