<div class="temp-dashboard">

  <div class="menu-top ">
    <ng-container *ngIf="step==0" >
      <div class="justify-content-center" style=" margin-left: auto;margin-right: auto;">
   
      </div>
      <div class="content-select-route" style="    text-align: center;">
        <div class="form-group">
          <h2 style="color:white;font-size:20px;font-weight: 700;" for="">{{informacionChofer}}</h2>
          <h2 style="color:white;font-size:20px;font-weight: 700;" for="" *ngIf="totalRuta">Rutas Activas: {{totalRuta.total}}</h2>
     


        </div>

       
      </div>
    </ng-container>

    <div class="content-return" >
      <button class="btn-secondary btn-back" *ngIf="step > 0" (click)="cambiarPaso(0)"> <mat-icon
          class="material-symbols-outlined">chevron_left</mat-icon>
      </button>

      <!-- <button *ngIf="jornadaNueva && step > 0" class="btn-red" (click)="endDay()" style=" margin-left: auto;margin-right: auto;">Finalizar Jornada</button>
      <button *ngIf="!jornadaNueva && step > 0" class="btn-green" (click)="initDay()" style=" margin-left: auto;margin-right: auto;">Iniciar Jornada</button> -->
    </div>


  </div>

  <div [class.content-middle]="step > 0" style="margin-top: 50px;">
    <div *ngIf="step==0">

      <mat-card class="example-card" style="margin-bottom: 50px;" *ngFor="let ruta of routes">
        <mat-card-header>
        
          <mat-card-title class="trata">{{ruta.Path.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>This card has divider and indeterminate progress as footer</p>
          <p>Prueba bebe</p> -->
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn-red" (click)="endDay(ruta.id)" style=" margin-left: auto;margin-right: auto;">Despachada</button>
        </mat-card-actions>
    
      </mat-card>
    </div>



  </div>



  <div class="menu-bottom">

 
  </div>
</div>
